

.black-bg{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 100%;
  height: 50px;
  color: white;
  font-weight: 800;
  font-size: 40px;

}
.list{
  padding-left: 20px;
  border-bottom: 1px solid grey;
}
.modal{
  background-color: #eee;
  margin-top: 20px;
  padding: 20px;
  
}